main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    width: 99%;
    align-items: center;
}

article > img {
    max-width: 80%;
    max-height: auto;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav > a{
    width: 80vw;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-style: bold;
    background-color: black;
    border: 2px solid lightblue;
    color: white;
}

header, footer{
    text-align: center;
}
h1{
    font-size: calc(1,5rem + 3vw);
}

h2{
    font-size: calc(1rem + 2vw);
}

p{
    font-size: calc(1rem + 1vw);
}